<div class="ingreso">
  <h2 class="ingreso_titulo">Ingresos</h2>


  <div class="elemento limpiarEstilos" *ngFor="let ingreso of ingresos | async">
    <div class="elemento_descripcion">{{ingreso.concepto}}</div>
    <div class="right limpiarEstilos">
      <div class="elemento_valor">+ {{ingreso.cantidad}}</div>
      <div class="elemento_eliminar">
        <button class="elemento_eliminar--btn" (click)="eliminar($event, ingreso.id)">
          <i class="ion-ios-close-outline"></i>
        </button>
      </div>
    </div>
  </div>

</div>
