<app-cabecera [disponible]="disponible$" [totalIngresos]="totalIngresos$" [totalRetiradas]="totalRetiradas$" [porcentajeDisponible]="porcentajeDisponible$"></app-cabecera>

<app-formulario-movimiento (crearIngreso)="crearIngreso($event)" (crearRetirada)="crearRetirada($event)"></app-formulario-movimiento>

<div class="contenedor limpiarEstilos">
  <app-ingreso [ingresos]="ingresos$" (eliminarIngreso)="eliminarIngreso($event)" ></app-ingreso>
  <app-retirada [retiradas]="retiradas$"  (eliminarRetirada)="eliminarRetirada($event)"></app-retirada>
</div>
